extends ../../../views/layout

block content

  h1 Book Showcase

  if books.length > 0
    hr
    table.table.table-striped.table-hover#listing
      thead
        tr
          th Book Title
          th Author
          th Language
          th Read, huh?
      tbody
      each book in books
        tr(data-id=book.id)
          td= book.name
          td= book.author
          td= book.language
          td.status
            div(class=cssClassForState('reading', book.state))
              p reading
            div(class=cssClassForState('read', book.state))
                p Hmm!
  else
    p.alert.alert-info
      | No books added yet to the shelf! ;)